@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Nunito', sans-serif;
}

.hero-section {
  background-image: url("/assets/AKR08352.jpg");
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: end;
}

.arrow {
  border: solid #ebffed;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.arrow:nth-child(2) {
  animation: arrow1 1.5s ease-in-out infinite;
}

.arrow:nth-child(3) {
  animation: arrow2 1.5s ease-in-out infinite;
}

@keyframes arrow1 {
  100% {
    opacity: 0;
    top: 100%;
  }
}

@keyframes arrow2 {
  100% {
    opacity: 0;
    top: 50%;
  }
}